<p class="current"><%= @title %>/<%= @title2 %></p>

<div class="btn_right">
    <%= button_to '中止する', list_testA_path, method: :get, class: 'answer_btn' %>
    <%= button_to '削除する', list_testA_path, method: :get, class: 'delete_btn' %>
</div>