/* reset-css */
@import "destyle";
@import "other-styles";

html {height: 100%;}

/* header */
.header {
    height: 100px;
    background-color: #14518E;
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
}
.btn-home {
    background-color: #C59650;
    padding: 10px 30px;
    margin: 20px;
    border-radius: 50px;
    color: #ffffff;
}

/* main */
body {
    height: 100%;
    background: linear-gradient(#EAEFF3, #BBC8D8);
}

.current {
    color: #14518E;
    margin: 20px 0 20px 15px;
}


/*////////////////////////////////////////////*/

/* top */
.top {
    display: flex;
    justify-content: center;
}
.logo {
    margin: 40px;
    text-align: center;
}
.logo h1 {
    font-size: 30px;
    margin-bottom: 20px;
}
.icon {width: 250px;}

.subject_box {
    display: flex;
    background-color: #14518E;
    padding: 10px 20px;
    margin: 20px 0 0 20px;
    border-radius: 10px;
}

.subject_name {
    font-size: 20px;
    color: #ffffff;
    border-bottom: 3px solid #ffffff;
    display: inline-block;
    padding-bottom: 3px;
    margin: 5px;
    width: 350px;
    font-weight: bold;
}

.overview {width: 400px;}

.detail {margin: 10px 0 0 20px;}

.detail p {color: #ffffff;}

.question_btn {
    background-color: #C59650;
    color: #ffffff;
    padding: 7px 30px;
    margin: 40px 10px 0px 20px;
    border-radius: 50px;
}
.List_btn {
    background-color: #ffffff;
    color: #14518E;
    padding: 7px 30px;
    margin: 10px 10px 5px 20px;
    border-radius: 50px;
}


/*////////////////////////////////////////////*/

/* list */



.list_box {
    display: flex;
    background-color: #14518E;
    margin: 20px;
    border-radius: 10px;
    width: 900px;
}

.list_box p {
    color: #ffffff;
}

.left_top{
    display: flex;
}

.box_left {
    margin: 15px 0 0 0;
    width: 695px;
}

.left_top h1 {
    color: #ffffff;
    background-color: #C59650;
    padding: 7px 20px;
}

.left_top h2 {
    color: #ffffff;
    padding: 7px 20px;
}

.box_left p {
    color: #BBC8D8;
    padding: 10px 0 0 20px;
    font-size: 15px;
}

.box_right {
    margin: 15px;
    padding: 5px 0 0 10px;
    border-left: 3px solid #ffffff;
    width: 169px;
    float: right;
}


.preview_btn {
    background-color: #BBC8D8;
    color: #14518E;
    padding: 7px 30px;
    margin: 10px 0px 0px 0px;
    border-radius: 50px;
}

.create_btn {
    background-color: #C59650;
    color: #ffffff;
    width: 150px;
    height: 150px;
    padding: 7px 30px;
    margin: 10px 0px 0px 0px;
    border-radius: 100px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    text-align: center;
}