/* reset-css */
@import "destyle";
@import "other-styles";

/* header */
.header {
    height: 100px;
    background-color: #14518E;
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
}
.btn-home {
    background-color: #C59650;
    padding: 10px 20px;
    margin: 20px;
}

/* main */
.main {
    height: 500px;
    background: linear-gradient(#EAEFF3, #BBC8D8);
}