
<main class="list">
    <p class="current">基本情報技術者試験（A試験）/問題一覧</p>

    <div class="list_box">
        <div class="box_left">
            <div class="left_top">
                <h1>ジャンル名</h1>
                <h2>正答率：〇％</h2>
            </div>
            <p>▶ここに問題文の一部が入るのだ。文末は…ここの長さで幅変わってる？？やっぱそうらしい。改行は？されてるね。改善しましたので長さ固定できました。</p>
        </div>
        <div class="box_right">
            <p>登録日：2024.06.27</p>
            <p>登録者：BE</p>
            <%= button_to '▶プレビュー', list_testA_path, method: :get, class: 'preview_btn' %>
        </div>
    </div>


    <!-- ボタンクリック後の移動先をまだ設定していないです -->
    <%= button_to '問題を作る', list_testA_path, method: :get, class: 'create_btn' %>

</main>